* {
    box-sizing: border-box;
  }
  

body {
    font-family: Avenir;
    
}

.light-theme {
    background-color: #FCFCFC;
    color: #000000;
}

.light-theme a{
    color: #000000;
}

.dark-theme {
    background-color: #111216;
    color: #FFFFFF;
}

.dark-theme a{
    color: #FFFFFF;
}

.dark-toggle:hover {
    cursor: pointer;
}

.dark-img-photo {
    border: 8px solid #6C757D;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.topnav {
    margin: 1% 5% 1% 1%;
    overflow: hidden;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
}

.topnav-right {
    float: right;
}

#about{
    margin-top:1%;
}

#intro {
    margin: 5% 3% 1% 5%;
}

#intro h1 {
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}

#intro h2 {
    font-weight: 800;
}

#intro p {
    font-weight: 500;
    padding-left: 6px;
    font-size: 20px;
    display: inline-block;
}

.me-button {
    background-color: #5890DB;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 50px 50px 50px 0px;
    margin: 4px 2px;
}

.break {
    height: 10px;
}

.dot {
    height: 40px;
    width: 40px;
    background-color: #5890DB;
    border-radius: 100%;
    display: inline-block;
    padding: 0.5em 0.6em;
    margin-left: 2%;
}

.dot:hover {
    background-color: #397FDA;
}

.img-photo {
    border: 8px solid #E9E9E9;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

#about {
    margin: 5% 3% 1% 5%;
}

#about h2 {
    font-weight: 800;
    font-size: 40px;
    padding-top: 5%;
    border-bottom: 5px solid #5890DB;
    display: inline;
}

.about-me {
    padding-top: 2%;
    font-size: 20px;
    line-height: 27px;
    width: 80%;
}

.zepeto{
    width: 250px;
    height: 400px;
    margin-left: 40%;
    }

.row-custom {
    display: flex;
    margin-bottom: 8%;
}

.column {
    float: left;
    padding: 10px;
    flex-grow: 1;
  }
  
  .left {
    width: 35%;
  }
  
  .right {
    width: 65%;
    padding-top: 4%;
    padding-left: 3%;
  }

.resume-button {
    background-color: transparent;
    border: 3px solid #5890DB;
    font-weight: 500;
    padding: 10px 20px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    border-radius: 30px;
    }

.resume-button:hover {
color: #FCFCFC;
text-decoration:none;
background-color: #5890db;
}

#skills {
    margin: 5% 3% 1% 5%;
}

#skills h2 {
    font-weight: 800;
    font-size: 40px;
    padding-top: 5%;
    border-bottom: 5px solid #5890DB;
    display: inline;
}

.button-skill {
    border: 3px solid #5890DB;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 1%;
    padding: 10px 20px;
    font-weight: 500;
}

#interests {
    margin: 5% 3% 1% 5%;
}

#interests h2 {
    font-weight: 800;
    font-size: 40px;
    padding-top: 5%;
    border-bottom: 5px solid #5890DB;
    display: inline;
}

#interests h4 {
    font-weight: 400;
    display: inline-block; 
    margin: 1% 2%;
}

.diamond {
    background: #5890DB;
    border-radius: 3px;
    transform: rotate(-45deg);
    display: inline-block;
    width: 20px;
    height: 20px;
}

.interest-item-1 {
    margin: 6% 4%;
}

.interest-item-2 {
    margin: 1% 4%;
}

#work {
    margin: 5% 3% 1% 5%;
}

#work h2 {
    font-weight: 800;
    font-size: 40px;
    padding-top: 5%;
    border-bottom: 5px solid #5890DB;
    display: inline;
}

#work h4 {
    font-weight: 800;
}

.diamond-work {
    background: #5890DB;
    border-radius: 3px;
    transform: rotate(-45deg);
    display: inline-block;
    width: 13px;
    height: 13px;
}

.card-text {
    display: inline-flex;
    padding: 1%;
    width: 90%;
}

.card {
    background: #FCFCFC;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 80%;
    margin: 4% 4% 4% 0%;
    padding: 2%;
}

.dark-theme .card {
    background: #000000;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 80%;
    margin: 4% 4% 4% 0%;
    padding: 2%;
}

#portfolio {
    margin: 5% 3% 1% 5%;
}

#portfolio a {
    text-decoration: none
    }

.title {
    font-weight: 800;
    font-size: 40px;
    padding-top: 5%;
    border-bottom: 5px solid #5890DB;
    display: inline;
    margin-bottom: 2%;
}

.img-porto {
    width: 90%;
}

.column-1 {
    flex-shrink: 0;
    flex-basis: 35%;
    text-align: center;
} 

.column-2 {
    padding-top: 8%;
    flex-basis: 65%;
}

.column-2 h2 {
    color: #5890DB;
    font-weight: 800;
}

.porto-text {
    line-height: 27px;
    display: inline-flex;
    width: 90%;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 20px;
}

footer {
    border-top: 1px solid #73737D;
    opacity: 0.33;
    font-weight: 1000;
    font-size: 15px;
    margin: 5% 5%;
    padding: 1%;
}